# ---------------------------------------------------------
# CONFIGURAÇÃO LOCAL (npm run dev)
# ---------------------------------------------------------
NEXT_PUBLIC_API_URL=http://localhost:3001

# ---------------------------------------------------------
# CONFIGURAÇÃO DOCKER (docker-compose up)
# ---------------------------------------------------------
# NEXT_PUBLIC_API_URL=http://api:3001
